@import './normalizing'

//color
$primary : #2196f3
$secondary : #a1afbb
$success : #21f360
$danger : #c42222
$warning : #f0f321
$info : #18ddf1
$light : #ffffff
$dark :  #212121


.test 
    color: $primary